@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    list-style: none;
    text-decoration: none;
}
.heid {
    display: none;
}
.show{
    display: block;
}
.navv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.nav-main{
    width: 90%;
    display: flex;
    justify-content:space-around;
    height: 100px;
    align-items: center;
    margin: 0 auto;
}
.nav-logo{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
}
.nav-text ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-text ul li a{
    margin-left: 30px;
}
/* .nav-text ul li a:nth-child(2){
    color: rgb(5, 173, 252);
    font-size: 20px;
    font-weight: 500;
}
.nav-text ul li a:first-child{
    color: rgb(30, 252, 5);
    font-size: 20px;
    font-weight: 500;
} */


.home a{
    color: rgb(5, 173, 252);
    font-size: 20px;
    font-weight: 500;
}
.About a{
    color: rgb(5, 252, 13);
    font-size: 20px;
    font-weight: 500;
}
.Facilities a{
    color:rgb(31, 24, 222);
    font-size: 20px;
    font-weight: 500;
}
.Admission a{
    color:rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
}
.nav-btn {
    width: 150px;
    padding: 20px;
    background:rgb(254, 195, 1);
    border: none;
    border-radius: 10px;
    color: white;
}
.nav-hr{
    height: 1px;
    background: gold;
}


        /* nav rasponsiv  */

@media screen and (max-width: 676px) {
    .nav-main{
        justify-content: space-between;
        width: 80%;
    }
    .nav-main h3 {
        display: none;
    }
    .nav-text {
        display: none;
    }
    .nav-button{
        display: none;
    }
    .nav-hr{
        display: block;
    }
    .nav-bar{
        display: block;
       font-size: 40px;
        color: rgb(18, 18, 18);
       
    }
    
}
          /* end nav style  */

        /* main section empowering hero  start*/

main{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
   
}
.empowering{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.empo-text{
    width:45%;
}
.empo-h1{
    font-size: 56px;
    font-weight: 700;
}
.emp{
    color: rgb(254, 163, 1)
}
.towards{
 color: rgb(1, 172, 253);
}
.empo-text p{
    color: rgb(17, 16, 16);
    font-size: 20px;
    font-weight: 400;
}
.empo-text button{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(28, 28, 28);
    padding: 5px;
    border-radius: 5px;
    width: 150px;
}
.impo-img img{
   width: 400px;
} 

/* main section empowering hero responsiv start start*/

@media screen and (max-width: 676px) {
    .empowering{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    .empo-h1{
       font-size: 35px;
       line-height: 45px;
    }
    .empo-text{
        width: 70%;
    }
    .empo-text p{
        margin: 10px 0;
    }
    .empowering  img{
        margin-bottom: 20px;
    }
    .empowering button{
        margin: 20px 0;
    }
}
       /* main section empowering hero responsiv end*/


       /* Standard Curriculum start*/

.standard{
    background-image: url(./B11-A2-Kids-School/assets/bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.standard h1{
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    margin: 50px 0;
}
.standard-main{
    display: flex;
    width: 87%;
}
.standard-child{
    width: 25%;
    height: 356px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border-radius: 20px;
}
.standard-child h3{
    color: rgb(32, 32, 32);
    font-size: 24.52px;
    font-weight: 700;
    margin: 20px 0;
}
.standard-child p{
    color: rgb(128, 128, 128);
    font-size: 15.09px;
    font-weight: 500;
}
.standard-child a{
    color: rgb(100, 200, 255);
    font-size: 15.09px;
    font-weight: 700;
    margin-top: 30px;
}
.child2 a{
    color: rgb(240, 170, 0);
    font-size: 15.09px;
    font-weight: 700;
    margin-top: 30px;
}
.child3 a{
    color:rgb(135, 0, 255);
    font-size: 15.09px;
    font-weight: 700;
    margin-top: 30px;
}
.child2{
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.child3{
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

/* Standard Curriculum mediya  start  */
@media screen and (max-width: 676px)  {
    .standard{
        text-align: center;
    }
    .standard-main{
        display: flex;
        flex-direction: column;
    }
    .standard-child{
        width: 90%;
        margin: 20px 0;
    }
}


/* less then greeter than start */

.mian-les-gre{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.less-then, .greeter-than{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(255, 215, 0);
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 15px 5px;
}

@media screen and (max-width: 676px){
    .mian-les-gre{
        display: none;
    }
}
/* less then greeter than end */



/* our Stories start  */
.our-Stories{
    background-image: url(./B11-A2-Kids-School/assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}
.our-Stories h1{
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    margin: 50px 0;
}
.main-2 img{
    width: 510.27px;
    height: 337px;
    border-radius: 20px 20px 0px 0px ;
}
.main-2{
    width: 510.27px;
    height: 630.52px;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
}
.main-2 button{
    top: 310px;
    position: absolute;
    left: 80px;
    height: 50px;
    width: 150px;
    border: none;
    background-color: rgb(60, 216, 232);
    border-radius: 30px;
}
.main-2 h3{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    padding: 20px;
}
.main-2 p{
    color: rgb(102, 102, 102);
    font-size: 15.34px;
    font-weight: 500;
    padding: 20px;
}
.childd img{
    width: 270.69px;
    height: 177px;
    border-radius: 20px 20px 0px 0px ;
}
.childd{
    position: relative;
    width: 270.69px;
    height: 290.61px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.childd button{
    top: 155px;
    position: absolute;
    left: 30px;
    height: 40px;
    width: 130px;
    border: none;
    background-color: rgb(77, 232, 60);
    border-radius: 30px;
}
.childd h3{
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-size: 15.34px;
    font-weight: 700;
    padding: 20px;
}
.story-main-1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}
.story-main-3{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    
}
.stories-button button{
    width: 197px;
    height: 50px;
    margin: 50px;
    background-color: rgb(33, 33, 33);
    color: white;
    border-radius: 10px;
}
.story-Main2 .btnnn1{
    background-color: #1b35dd;
}
.story-Main2 .btnnn2{
    background-color: #1bdd52;
}
.story-Main2 .btnnn3{
    background: #dd1b6f;
}
.story-Main2 .btnnn4{
    background: #0ce1fd;
}



/* our Stories end  */